<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Sampat/IdeaProjects/Clone/Framework_Demo_28Nov_Varsha_Test">
        <classes>
            <class name="testcases.LoginTest">
                <methods>
                    <include name="verifyLoginWithValidUserNameAndValidPassword"/>
                    <include name="verifyLoginWithInvalidUserNameAndValidPassword"/>
                    <include name="verifyLoginWithValidUserNameAndInvalidPassword"/>
                    <include name="verifyLoginWithInvalidUserNameAndInvalidPassword"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>